<div>
    <h3>Satellite Counts</h3>
<div class="counts">
   <div>Total: <span>{{countAll(satellites)}}</span></div>
   <div>Space Debris: <span>{{countType(satellites,'space debris')}}</span></div>
   <div>Communication: <span>{{countType(satellites,'communication')}}</span></div>
   <div>Probe: <span>{{countType(satellites,'probe')}}</span></div>
   <div>Positioning: <span>{{countType(satellites,'positioning')}}</span></div>
   <div>Space Station: <span>{{countType(satellites,'space station')}}</span></div>
   <div>Telescope: <span>{{countType(satellites,'telescope')}}</span></div>
</div>
</div>
